# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv/
env/
venv/

# OS-specific
.DS_Store

# IDE-specific (e.g., VS Code)
.vscode/

notes.md

# Ignore data
.csv

# Ignore Poetry's lock file
poetry.lock